VITE_FIREBASE_RTDB_URL=https://your-project-id-default-rtdb.firebaseio.com
VITE_WORKER_URL=https://noble-cms-api.noble-edu-cms.workers.dev
VITE_GH_OWNER=jekipansuriya2394
VITE_GH_REPO=interactive-education-platform
VITE_GH_BRANCH=main

